* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow: hidden;
}
#nombre {
    opacity: 0;
    font-size: 5rem;  /* Aumentamos el tamaño de la fuente */
    font-weight: bold;
    text-align: center;
    color: white;
    position: absolute;
    top: 10%;  /* Lo mantenemos arriba */
    left: 50%;
    transform: translate(-50%, 0);
    transition: opacity 2s ease-in-out;
}


body {
    position: relative;
    background: #000;
}
